html {
  background-color: #243e14;
}

body{
  margin:0 ;
  padding: 0 ;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: 
   linear-gradient(180deg, #243e14 0%, #b6dcab 100%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: top left, bottom left;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  background: transparent;
  text-align: center;
  padding: 0; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav {
  top: 0;
  left: 0; 
  right: 0; 
  max-width: 100%; 
  margin: 0 0 0; 
  position: fixed;
  background-color: rgba(127,163,117,0.12);
  backdrop-filter: blur(4px);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 40px;
  padding: 15px 0; 
  margin: 0;
}

nav a {
  text-decoration: none;
  color: rgb(252, 238, 238);
  font-weight: bold;
  font-size: 18px;
}

nav li:hover{
  transform: translateY(-1px); /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateY */
  padding: 5px 8px;
  border-radius: 2vh;
  background: rgba(31, 61, 43, 0.676);
}


footer{
    background-color: rgba(49, 62, 55, 0.516);
    text-align: center;
    padding: 15px 0;
    color: #fdf1f1;
    position: relative; /*in the end of page*/
    width: 100%;
}

.footer_title{
  position: absolute;
  left: 100px;
  margin:0;
}

.column{
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-top: 15px;
}

.column div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.column a{
    display: flex;
    text-decoration: none;
    color: rgb(218, 232, 223);
    align-items: center;
    gap: 5px;

}

.column a:hover{
  color: #62ff00;
}

.footer_icon{
    width:28px;
    height: 28px;
}

.footer_photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* for image to fill its container completely while keeping its proportions. this one realy helped me to understand it: https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
}

hr {
  border: none;
  height: 3px;
  background-color: #5a7453;
  width: 80%;
  margin-top: 30px;
}

main{
  padding: 20px;
}

section{
  max-width: 900px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
}

h1{
  margin-top: 15px;
  text-align: center;
  font-family: 'Georgia', serif; /* https://www.w3schools.com/css/css_font.asp */
  font-size: 2.5rem;
  color: #eff3f0;
}

h2{
  background-color: rgba(47, 112, 73, 0.713);
  color: rgb(22, 44, 27);
  padding-left: 30px;
  border-radius: 10px;
}

.main_cv{
  max-width: 1000px;
  margin: 65px auto;
  padding: 30px;
  background-image: linear-gradient(180deg, #314c20 0%, #92b787 100%);
  color: #e2efe3;
  border-radius: 5vh;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  font-family: 'Arial', sans-serif; /* https://www.w3schools.com/css/css_font.asp */
}

.main_cv a{
  color: rgb(218, 232, 223);
}

.main_cv a:hover{
  color:#51dd8b;
}

.foto_bloc{
  display: flex;
  gap:50px;
  margin: 10px auto;
  max-width: 900px;
  background-color: #5a7949d8;
  box-shadow: 3px 8px 8px #292b29;
  padding: 20px 18px;
  border-radius: 7vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.foto_content{
  align-items: center;
  justify-content: center;
  gap:50px;
  display: flex;
  max-width: 650px;
  width: 100%;
}

.cv_left{
  width: 300px;
  margin: 0;
}

.cv_right{
  flex: 1;
  text-align: left;
  margin: 0;
}

.cv_foto{
  width:180px;
  height: 210px;
  object-fit: cover;
  display: block;
  box-shadow: 0 8px 15px rgba(12, 48, 17, 0.804);
  border: 2px solid rgb(36, 56, 42);
  border-radius: 5%;
  filter: brightness(90%);
}

.cv_sec ul {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.767);
}

table{
  width: 100%;
  border-collapse: collapse; /* to make the borders of table cells merge into a single border: https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse */
}

table th, table td{
  border: 2px solid #292b2a;
  padding: 5px;
}


.intro_secction1{
max-width: 1200px;
margin: 40px auto 20px;
padding: 0 20px;
}

.intro_foto{
position: relative;
height: 68cvh;
min-height: 420px;
border-radius: 5vh;
overflow: hidden; 
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
background-attachment: scroll;
}

.intro_name{
font-family: 'Brush Seript M7', cursive; /* https://www.w3schools.com/css/css_font.asp */
font-weight: 700;
font-size: 5.3rem;
letter-spacing: 1px;
color: #ffffff;
text-shadow: 0 4px 10px rgba(0, 0, 0, 0.767);
margin:0;
padding: 6px 10px;
position: absolute;
white-space: nowrap;
}

.intro_name.left{ 
  top: 20%;
  left:3%;
  text-align: left;
}

.intro_name.right{
  top: 60%;
  right: 3%;
  text-align: right;
}

.intro_text{
  text-align: center;
  position: absolute;
  bottom:3%;
  margin:0;
  background: rgba(0,0,0,0.25);
  border-radius: 6px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  padding: 6px 12px;
}

.intro_section2{
  max-width: 1200px;
  margin: 20px auto 20px;
  padding: 30px 20px;
  display: flex;
  gap:30px;
  align-items: center;
  justify-content: center;
}

.intro_right, .intro_left{
  width:220px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.intro_right{
  align-items: center;
}
.intro_left{
  align-items: center;
}


.link_blok{
  width: 100px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 2vh;
  background: rgba(46, 98, 67, 0.472);
}

.link_blok a{
  display: block;
  width:100%;
  color: #e9f5ea;
  text-decoration: none;
  text-align: center;
  font-weight: 550;
}

.link_blok:hover{
  transform: translateY(-3px);
  background: rgba(60, 93, 71, 0.737);
  color: #d8c8c8;
}

.intro_quote_blok{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 5vh;
  background: rgba(40, 54, 40, 0.309);
}

.intro_quote{
  color: #e9f5ea;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.intro_quote_blok:hover {
  transform: translateY(-4px);
  background: rgba(60, 93, 71, 0.737);
  color: #d8c8c8;
}

.main_gallery{
  max-width: 1100px;
  margin: 0 auto;
}

.gallary_title{
  margin-top: 75px;
  text-align: center;
  font-family: 'Georgia', serif; /* https://www.w3schools.com/css/css_font.asp */
  font-size: 2.5rem;
  color: #eff3f0;
  margin-bottom: 0;
}

.gallary_h2{
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* https://www.w3schools.com/css/css_font.asp */
  background-color:rgba(40, 54, 40, 0.742);
  color: rgb(231, 255, 237);
  padding-left: 30px;
  border-radius: 10px;
  padding: 10px 100px;
}

.row{
  display: grid; /* https://www.w3schools.com/css/css_grid.asp */
  grid-template-columns: repeat(5, 1fr); /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-columns */
  gap: 10px;
  align-items: stretch; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/align-items */
}

.row img{
  width:100%;
  height: 160px;
  object-fit: cover; /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
  display: block;
  border-radius: 3vh;
  border:1px solid #ddd;
  background: #eee;
}

.row img:hover{
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.main_about{
  font-family: 'Arial', sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  color: #e9f5ea;
}

.about_title{
  margin-top: 70px;
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  color: #eff3f0;
  margin-bottom: 0;
}

.section_about{
  max-width: 1200px;
  margin: 40px auto 20px;
  padding: 0 20px;
  margin-top: 20px;
}

.a_main_info{
  display: flex;
  gap:40px;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  overflow: hidden;
  padding: 30px;
  border-radius: 5vh;
  background: rgba(16,18,16,0.55);
  position: relative;
  margin-top: 23px;
}

.viki_blok{
  position: relative;
  display: flex;
  align-items: center;
  gap:22px;
  padding: 28px 36px;
  min-width: 320px;
  max-width: 520px;
  border-radius: 5vh;
  background: rgba(40,54,40,0.309);
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  overflow: visible;
}

.viki_blok:hover{
  background: rgba(60,93,71,0.737);
  color: #ffffff;
}

.viki_info{
  padding-right: 75px;
  display: block;
  text-align: left;
  align-items: flex-start;
}

.viki_h2{
  display: block;
  margin: 0;
  font-size: 28px;
  line-height: 1.05;
  color:#e9f5ea;
  background: none;
}

.viki_info .viki_h2:nth-of-type(2){
  margin-left: 20px;
}

.art_foto {
  position: absolute;
  right: -70px;
  top:-18px;
  overflow: visible;
}

.art_foto img{
  width: 220px;
  height: auto;
  transform: rotate(-3deg);
}

.muz_blok{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  min-width: 300px;
  max-width: 420px;
  text-align: center;
  padding: 20px;
  background-color: rgba(40, 54, 40, 0.309);
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  color: #e9f5ea;
  border-radius: 5vh;
}

.muz_blok:hover{
  background: rgba(60,93,71,0.737);
  color: #ffffff;
}

.muz_blok h3{
  margin: 0;
  text-align: center;
}

.muz_list{
  display: flex;
  justify-content: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 6px;
}

.muz_list iframe{
  width:100%;
  max-width: 360px;
  height: 75px;
  border: none;
  border-radius: 12px;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.a_info2{
  display: flex;
  gap:40px;
  padding: 30px;
  align-items: flex-start;
  justify-content: center;
}

.a_left{
  display: flex;
  flex-direction: column;
  gap:18px;
  min-width: 280px;
  max-width: 360px;
}

.fest_blok, .cooking_blok{
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  border-radius: 5vh;
  background: rgba(40, 54, 40, 0.309);
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
}

.fest_blok:hover, .cooking_blok:hover{
  background: rgba(60,93,71,0.737);
  color: #ffffff;
}

.fest_blok h3, .cooking_blok h3{
  margin: 0;
  color:#e9f5ea;
}

.fest_blok p, .cooking_blok p{
  margin: 6px 0 0 0;
  color:rgb(218, 232, 223)
}

.fest_blok .a_img, .cooking_blok .a_img{
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 2vh;
}

.a_right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap:12px;
  padding: 20px;
  min-width: 320px;
  max-width: 620px;
  border-radius: 5vh;
  background-color: rgba(40, 54, 40, 0.309);
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
}

.a_right:hover{
  background: rgba(60,93,71,0.737);
  color: #ffffff;
}

.a_right h3{
  margin: 0;
  color:#e9f5ea;
}

.a_right p{
  margin: 6px 0 0 0;
  color:rgb(218, 232, 223)
}

.a_video{
  width: 100%;
  height: auto;
  border-radius: 1vh;
  margin-top: 6px;
}

.contact_box{
 margin-top: 62px;
 margin-bottom: 13px;
 width:600px;
 display: flex;
 flex-direction: column;
 border-radius: 5vh;
 padding: 25px;
 gap:20px;
 background: rgba(40,54,40,0.309);
}

.registration{
  display: flex;
  gap:20px;
}


.name_box{
  display: flex;
  flex-direction: column;
  gap:8px;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 2vh;
  background: rgba(40,54,40,0.309);
}

.name_box:hover{
  background: rgba(60, 93, 71, 0.737);
  color:#d8c8c8;
}

label{
  font-size: 14px;
  color: #ddd;
}

input, select, textarea, button{
  background: transparent;
  border: 1px solid rgba(233,245,234,0.3);
  color:#f9fffa;
  padding: 8px;
  border-radius: 2vh;
  font-size: 14px;
}


@media (max-width: 768px){
  .section_about{
    max-width: 920px;
    margin: 20px auto;
    padding: 0 16px;
  }
  .a_main_info{
    flex-direction: column;
    gap:20px;
    padding: 20px;
    align-items: center;
  }
  .viki_info{
    padding-right: 95px;
  }
  .art_foto{
    margin-right: 18px;
  }
}

@media (max-width:425px){
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav ul{
    flex-direction: column;
    display: flex;
    gap:8px;
  }
  nav a {
    display: block;
    width:100%;
    text-align: center;
  }
  header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
  }
  main{
    margin-top: 100px;
    padding-top: 130px;
  }
  .main_cv{
    margin-top: 172px;
  }
  .contact_box{
    width: 380px;
    margin-top: 0px; 
  }
  .registration{
    flex-direction: column;
  }
  .name_box{
    padding: 10px;
  }
  .section_about{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .a_info2{
    flex-direction: column;
    align-items: center;
  }
  .section_about{
    max-width: 920px;
    margin: 20px auto;
    padding: 0 16px;
  }
  .a_main_info{
    flex-direction: column;
    gap:15px;
    padding: 10px;
    align-items: center;
  }
  .viki_info{
    padding-right:170px;
  
  }
  .art_foto{
    margin-right: 11px;
    width:290px;
    height: 250px;
  }
  .intro_section2{
    padding: 15px 10px;
    gap:15px;
    max-width: 95%;
  }
  .intro_left, .intro_right{
    width:48%;
    min-width: 112px;
  }
  .foto_bloc{
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap:20px;
  }
  .foto_content{
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width:350px;
  }
  .cv_sec h2{
    font-size: 22px;
    padding: 0 10px;
  }
}

@media (max-width:375px){
.cv_sec h2{
    font-size: 18px;
    padding: 0 10px;
  }
 .viki_info{
    padding-right:155px;
    padding-left: 15px;
    font-size: 12px;
  }
  .art_foto{
    margin-right: 50px;
    width:250px;
    height: auto;
    max-width: 90%;
  }
  .art_foto img{
    width: 100%;
    max-width: 185px;
    height: auto;
    display: block;
  }
  .contact_box{
    width: 335px;
    margin-top: 0px; 
  }
  .registration{
    flex-direction: column;
  }
  .name_box{
    padding: 10px;
  }
}

@media (max-width:320px){
 .cv_sec h2{
    font-size: 15px;
    padding: 0 10px;
  }
  .cv_left{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
  .viki_info{
    padding-right:155px;
    padding-left: 15px;
    font-size: 12px;
  }
  .art_foto{
    margin-right: 50px;
    width:250px;
    height: auto;
    max-width: 90%;
  }
  .art_foto img{
    width: 100%;
    max-width: 185px;
    height: auto;
    display: block;
  }
  .contact_box{
    width: 280px;
    margin-top: 0px; 
  }
  .registration{
    flex-direction: column;
  }
  .name_box{
    padding: 10px;
  }
  .column{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 15px;
  }
  .intro_section2{
    flex-direction: column;
    padding: 5px 3px;
    gap:15px;
    max-width: 95%;
  }
  .intro_left, .intro_right{
    width:48%;
    min-width: 120px;
  }
  .intro_secction1{
    margin: 10px auto;
    padding: 5px 10px;
    max-width: 95%;
   }
  .intro_foto{
    height: auto;
    min-height: 200px;
    background-position: center;
  }
  .intro_name{
    padding: 0 10px;
    text-align: center;
    font-size: 3rem;
  }
  .intro_name.left, .intro_name.right{
    text-align: center;
  }
  .intro_text{
    font-size: 12px;
    padding: 4px 6px;
    bottom: 2%;
  }
  .section_about{
    max-width: 850px;
    margin: 20px auto;
    padding: 0 16px;
  }
  .a_main_info{
    flex-direction: column;
    gap:20px;
    padding: 20px;
    align-items: center;
  }
  .viki_info{
    padding-right: 95px;
    font-size: 10px;
    padding-right:115px;
    padding-left: 40px;
  }
  .art_foto{
    margin-right: 18px;
  }
  .muz_blok{
    width:100%;
    max-width: 420px;
    min-width: 0;
    flex: 0 1 auto;
  }
}



/* colors:
 quote color #e9f5ea
  background for hover rgba(60, 93, 71, 0.737);
  color for hover #d8c8c8;
  background for quote blok rgba(40, 54, 40, 0.309);
  for link #e9f5ea;
  link blok color background: rgba(46, 98, 67, 0.472);
  for function hover for links #62ff00; - footer  
  #51dd8b - hover for links in cv
  normal link color rgb(218, 232, 223)
  for h2 in galery : background-color:rgba(40, 54, 40, 0.742);

  backgroun gradient : background-image: 
   linear-gradient(180deg, #243e14 0%,  #b6dcab 100%), 
  */


